.benefits__list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
  column-gap: 0;
}

.benefits__subtitle {
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .benefits__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .benefits__item {
    width: calc((100% - 24px) / 2);
  }

  .benefits__subtitle {
    text-align: left;
  }
}
